<section [@fadeInOut]>
    <div class="mainContainer" [@fadeInOut]>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
            <h2 class="my-0 mr-md-auto font-weight-normal">Adrian Genin</h2>
            <nav class="my-2 my-md-0 mr-md-3">
                <!-- <a class="p-2 text-dark" href="#">About</a> -->
                <a class="socialButton" href="https://www.youtube.com/user/Malathrom"><i class="fab fa-youtube"></i></a>
                <a class="socialButton" href="https://github.com/Malathrom?tab=repositories"><i
                        class="fab fa-github"></i></a>
                <a class="socialButton" href="https://www.linkedin.com/in/adrian-genin-b5a911145/"><i
                        class="fab fa-linkedin-in"></i></a>
            </nav>
        </div>
        <h4>About</h4>
        <p>Hi, my name is Adrian Genin. I am a developper from the University of Technology of Troyes, France. I also do
            motion
            graphics and photo editing as a hobby.</p>
        <h5 class="text-center">Some of my videos</h5>
        <div style="text-align: center;">
            <iframe class="youtubeFrame" src="https://www.youtube.com/embed/idjxtlQNet4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe class="youtubeFrame" src="https://www.youtube.com/embed/JlnGClJwd2g" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <iframe class="youtubeFrame" src="https://www.youtube.com/embed/vI3Sd5EiJaY" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <h4>Resume</h4>
        <p>A one page pdf resume can be accessed <a href="../assets/pdf/My_CV.pdf">here (english)</a>, or <a
                href="../assets/pdf/My_CV_fr.pdf">here (french)</a>.</p>
    </div>
</section>